<html class="theme-light">
    <head>
        <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="https://unpkg.com/xml-js@1.6.11"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">

        <link rel="stylesheet" href="../static/index.css">
        <script src="../static/index.js"></script> 
    </head>
    <body>
        <div style="display: flex; justify-content: space-between;">
            <div style="display: flex; flex-direction: column; justify-content: space-between; max-height: 600px; padding-right: 60; padding-left: 30;">
                <p class="gradient_text" style="position: absolute; top: 0;">100</p>
                <p class="gradient_text" style="position: absolute; top: 280;">50</p>
                <p class="gradient_text" style="position: absolute; top: 560;">0</p>
            </div>
            <div id="gradient_bar"></div>
            <div style="display: flex; flex-direction: column; justify-content: space-between;">
                <div id="data_options">
                    <button class="button data_button">Obecné</button>
                    <button class="button data_button">Mateřské</button>
                    <button class="button data_button">Základní</button>
                    <button class="button data_button">Střední</button>
                    <button class="button data_button">Vysoké</button>
                    <select class="dropdown" oninput="onDropdownInput()">
                        <option disabled selected>Vyberte z následujících</option>
                        <option value="a">Přijatí</option>
                        <option value="b">Hustota</option>
                        <option value="c">Poměr dětí na školku</option>
                        <option value="d">Absolventi</option>
                        <option value="e">Kvalifikace učitelů</option>
                    </select>
                    <button id="theme-toggler" class="button" onclick="toggleTheme()">🌑</button>
                </div>
                        
                <div style="display: flex; justify-content: space-between; padding: 25 20 10 20;">           
                    <div id="regions_div"></div>
                    <div id="bars_div"></div>
                </div>
            </div>
        </div> 

        <div style="display: flex; justify-content: space-between; padding: 25 20 10 20;">
            <div>
                <div style="display: flex; flex-direction: column; justify-content: space-between;">
                    <div id="search_div">
                        <select class="dropdown searchbar">
                            <option disabled selected>Vyberte z následujících</option>
                            <option value="GLP">Gymnázium Luďka Pika (GLP)</option>
                            <option value="MG">Masarykovo gymnázium Plzeň</option>
                        </select>
                        <button class="button" onclick="get_data(0)">Ask</button>
                        <select class="dropdown searchbar">
                            <option disabled selected>Vyberte z následujících</option>
                            <option value="GLP">Gymnázium Luďka Pika (GLP)</option>
                            <option value="MG">Masarykovo gymnázium Plzeň</option>
                        </select>
                        <button class="button" onclick="get_data(1)">Ask</button>
                    </div>
                    <div id="lines_div"></div>
                </div>
            </div>
            <div id="gpt_div">
                <p id="gpt_text">...</p>
            </div>
        </div>

        <script>
            google.charts.load('current', {'packages':['geochart', 'corechart', 'bar'],});
            google.charts.setOnLoadCallback(drawGeoChart);
            google.charts.setOnLoadCallback(drawLineChart);
            google.charts.setOnLoadCallback(drawBarChart);

            update("GLP");

            function drawGeoChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Country', 'Hodnoceni'],
                    ['Praha', 0.52],
                    ['Středočeský kraj', 0.41],
                    ['Jihočeský kraj', 0.22],
                    ['Plzeňský kraj', 0.9],
                    ['Karlovarský kraj', 0.35],
                    ['Ústecký kraj', 0.17],
                    ['Liberecký kraj', 0.69],
                    ['Královéhradecký kraj', 0.78],
                    ['Pardubický kraj', 0.46],
                    ['Vysočina', 0.82],
                    ['Jihomoravský kraj', 0.33],
                    ['Zlínský kraj', 0.46],
                    ['Olomoucký kraj', 0.12],
                    ['Moravskoslezský kraj', 0.63],

                ]);

                var options = {
                    region: "CZ",
                    resolution: "provinces",
                    colorAxis: {minValue: 0,  colors: ['#F4D8CD', varx("--color-primary")]},
                    legend: "none",
                    keepAspectRatio: false,
                    datalessRegionColor : varx("--color-tile")
                };

                var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

                chart.draw(data, options);
            }
            function drawLineChart(inData1, inData2) {
                /*var data = google.visualization.arrayToDataTable([
                ['Year', 'Sales', 'Expenses'],
                ['2004',  1000,      400],
                ['2005',  1170,      460],
                ['2006',  660,       1120],
                ['2007',  1030,      540]
                ]);*/
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Year')
                data.addColumn('number', document.getElementsByClassName("dropdown searchbar")[0].value)
                data.addColumn('number', document.getElementsByClassName("dropdown searchbar")[1].value)

                for (let i = 0; i < inData1.length; i++) {
                    data.addRow([inData1[i].label, inData1[i].mark, inData2[i].mark])
                }

                var options = {
                    hAxis: {
                        title: 'Rok',
                        titleTextStyle: {
                            color: varx("--color-text")
                            },
                        logScale: true,
                            gridlines: {
                            color: varx("--color-text")
                            },
                            textStyle: {
                            color: varx("--color-text")
                        },
                        },
                    vAxis: {
                    title: 'Hodnocení',
                    titleTextStyle: {
                    color: varx("--color-text")
                    },
                    logScale: false,
                        gridlines: {
                        color: varx("--color-text")
                        },
                    },

                    colors: [varx("--color-primary"), varx("--color-secondary")],
                    backgroundColor: {
                        fill: varx("--color-tile")
                    },
                    animation: {
                        easing: "out",
                        duration: 1000,
                        startup: true
                    },
                    lineWidth: 6,
                };

                var chart = new google.visualization.LineChart(document.getElementById('lines_div'));

                chart.draw(data, options);
            }
            function drawBarChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('number', 'Rok');
                data.addColumn('number', 'Počet žáků');

                data.addRows([
                    [2011, 1],
                    [2012, 2],
                    [2013, 3],
                    [2014, 4],
                    [2015, 5],
                    [2016, 6],
                    [2017, 7],
                    [2018, 8],
                    [2019, 9],
                    [2020, 10],
                ]);

                var options = {
                    title: '',
                    annotations: {
                    alwaysOutside: true,
                    textStyle: {
                        fontSize: 14,
                        color: varx("--color-text"),
                        auraColor: 'none'
                    }
                    },
                    hAxis: {
                    gridlines: {
                        color: "transparent"
                    },
                        title: 'Rok',
                        viewWindow: {
                            min: [7, 30, 0],
                            max: [17, 30, 0]
                        },
                        titleTextStyle: {
                            color: varx("--color-text"),
                            fontSize: 12
                        },
                        textStyle: {
                            color: varx("--color-text")
                        },
                        format: ""
                    },
                    vAxis: {
                    title: 'Počet žáků',
                    gridlines: {
                        color: "transparent"
                    },
                    titleTextStyle: {
                        color: varx("--color-text"),
                        fontSize: 12
                    }
                    },
                    animation: {
                    easing: "out",
                    duration: 1000,
                    startup: true
                    },
                    backgroundColor: {
                    fill: varx("--color-tile")
                    }
                };

                var chart = new google.visualization.ColumnChart(
                    document.getElementById('bars_div'));

                chart.draw(data, options);
            }
        
            $('.data_button').click(function(e) {
                $('.data_button').removeClass('selected');
                $(this).addClass('selected');
                console.log($(this))
            });

            function setTheme(themeName) {
                localStorage.setItem('theme', themeName);
                document.documentElement.className = themeName;
            }

            function toggleTheme() {
                if (localStorage.getItem('theme') === 'theme-dark') {
                    setTheme('theme-light');
                    $("#theme-toggler").text("🌑")
                } else {
                    setTheme('theme-dark');
                    $("#theme-toggler").text("☀️")
                }
                get_data(0)
            }

            function varx(property) {
                console.log(getComputedStyle(document.documentElement).getPropertyValue(property))
                return getComputedStyle(document.documentElement).getPropertyValue(property)
            }

            // Immediately invoked function to set the theme on initial load
            (function () {
                if (localStorage.getItem('theme') === 'theme-dark') {
                    setTheme('theme-dark');
                } else {
                    setTheme('theme-light');
                }
            });

            function update(school1, school2, idx) {
                fetch(`../../data/VZD04b.xml`)
                .then((response) => convert.xml2json(response, {compact: true, spaces: 4}).json())
                .then((json) => console.log(json))

                json1 = undefined
                json2 = undefined
                fetch(`../static/chatgpt_cache/${school1}.json`)
                .then((response) => response.json())
                .then((json) => {
                     json1 = json 
                     fetch(`../static/chatgpt_cache/${school2}.json`)
                    .then((response) => response.json())
                    .then((json) => {
                     json2 = json 
                     drawLineChart(json1.years.reverse(), json2.years.reverse())
                    drawGeoChart()
                    drawBarChart()
                    if(idx == 0) {
                    $('#gpt_text').text(json1.improvement)
                } else {
                    $('#gpt_text').text(json2.improvement)
                }
                    })
                })
            }

            function get_data(idx){
                var schools = document.getElementsByClassName("dropdown searchbar")

                if (schools[idx].value == "Vyberte z následujících"){
                    alert("nevybrali jste žádnou školu")
                    return;
                }
                else{
                    //somebody chose something
                    update(schools[0].value, schools[1].value, idx)
                }
            }
        </script>
    </body>
</html>