body{
    background-color: #2D1E2F;
}

p{
    color: #F4D8CD;
}

#regions_div {
    width: 900px; 
    height: 524px;
}

#lines_div {
    width: 1080px; 
    height: 320px;
    padding-top: 14;
}

#bars_div {
    width: 725px; 
    height: 524px;
    padding-left: 40;
}

#gpt_div {
    min-width: 725px;
    max-width: 725px;
    min-height: 408;
    background: #503653;
}

.button {
    border-radius: 20px;
    border: 3px solid #F4D8CD;
    background: #503653;
    color: #F4D8CD;
    text-align: center;
    font-family: Inconsolata;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 5;
    transition-duration: 0.2s;
    padding: 10 20;
}

.button:hover {
    background: #4A20E4;
    cursor: pointer;
}

.button.selected{
    background: #4A20E4;
}

#data_options {
    padding: 5 25;
    gap: 10px;
    display: flex;
}

.dropdown {
    flex: 1;
    border-radius: 20px;
    border: 3px solid #F4D8CD;
    background: #503653;
    color: #F4D8CD;
    text-align: center;
    font-family: Inconsolata;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 5;
    padding: 10 20;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='Moccasin' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}

.dropdown > option {
    background: #503653;
    color: #F4D8CD;
    font-family: Inconsolata;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: left;
}

#gpt_text {
    padding: 0 20 15 10;
    color: #F4D8CD;
    font-family: Inconsolata;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: left;
}

#search_div {
    max-width: 1080;
    height: 74;
}

.searchbar {
    width: 448;
    text-align: left;
}

#gradient_bar {
    width: 66px;
    height: 603px;
    border: 3px solid var(--White, #F4D8CD);
    background: linear-gradient(180deg, #F5295C 0%, #F4D8CD 100%);
    padding-top: 2;
}

.gradient_text {
    color: #F4D8CD;
    text-align: center;
    font-family: Inconsolata;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}