.theme-dark {
    --color-primary: #F5295C;
    --color-secondary: #4A20E4;
    --color-accent: #EDB183;
    --color-text: #F4D8CD;
    --color-bg: #2D1E2F;
    --color-tile: #503653;
 }.theme-light {
    --color-primary: #BAE420;
    --color-secondary: #4A20E4;
    --color-accent: #EDB183;
    --color-text: #2D1E2F;
    --color-bg: #F4D8CD;
    --color-tile: #EDB183;
 }

 #lines_div > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(3) > g:nth-child(2) > g:nth-child(2) > text:nth-child(1) {
    color: var(--color-text);
    fill: var(--color-text);
 }

 #lines_div > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(3) > g:nth-child(3) > g:nth-child(2) > text:nth-child(1) {
    color: var(--color-text);
    fill: var(--color-text);
 }
 
 #bars_div > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(3) > g:nth-child(2) > g:nth-child(2) > text:nth-child(1) {
    color: var(--color-text);
    fill: var(--color-text);
 }

body{
    background-color: var(--color-bg);
}

p{
    color: var(--color-text);
}

#regions_div {
    width: 900px; 
    height: 524px;
}

#lines_div {
    width: 1080px; 
    height: 320px;
    padding-top: 14;
}

#bars_div {
    width: 725px; 
    height: 524px;
    padding-left: 40;
}

#gpt_div {
    min-width: 725px;
    max-width: 725px;
    min-height: 408;
    background: var(--color-tile);
}

.button {
    border-radius: 20px;
    border: 3px solid var(--color-text);
    background: var(--color-tile);
    color: var(--color-text);
    text-align: center;
    font-family: Inconsolata;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 5;
    transition-duration: 0.2s;
    padding: 10 20;
}

.button:hover {
    background: var(--color-secondary);
    cursor: pointer;
}

.button.selected{
    background: var(--color-secondary);
}

#data_options {
    padding: 5 25;
    gap: 10px;
    display: flex;
}

.dropdown {
    flex: 1;
    border-radius: 20px;
    border: 3px solid var(--color-text);
    background: var(--color-tile);
    color: var(--color-text);
    text-align: center;
    font-family: Inconsolata;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 5;
    padding: 10 20;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='Moccasin' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}

#gpt_text {
    padding: 0 20 15 10;
    color: var(--color-text);
    font-family: Inconsolata;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: left;
}

#search_div {
    max-width: 1080;
    height: 74;
}

.searchbar {
    width: 448;
    text-align: left;
}

#gradient_bar {
    width: 66px;
    height: 603px;
    border: 3px solid var(--color-text);
    background: linear-gradient(180deg, var(--color-primary) 0%, #F4D8CD 100%);
    padding-top: 2;
}

.gradient_text {
    color: var(--color-text);
    text-align: center;
    font-family: Inconsolata;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}